<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Cars</title>
    <link rel="icon" href="../media/bugatti20chiron20pur20sport20drift.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <header>
        
    </header>
    <section >
        <div class="login">
        <h1>Create account</h1>
        <h4>User Name</h4>
        <input type="text" class="username">
        <h4>Age</h4>
        <input type="date" class="username">
        <h4>Mail</h4>
        <input type="email" class="pw" >
        <h4>Password</h4>
        <input type="password" class="username">
        <div class="bouton_log">
        <a href="/View/login.html" class="submit">Login</a>
        <a href="/View/CreeAcc.html" class="submit">Create</a>
        </div>
        </div>
    </section>
</body>
</html>