<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Cars</title>
    <link rel="icon" href="../IMGss/weeeeeeeeeeeeeed.jpg" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <header>
        
    </header>
    <section >
        <div class="login">
        <h1>Login</h1>
        <h4>Mail</h4>
        <input type="email" class="pw" >
        <h4>Password</h4>
        <input type="password" class="username">
        <div class="bouton_log">
        <a href="/View/buy.html" class="submit">Login</a>
        <a href="/View/CreeAcc.html" class="submit">Creat</a>
        </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script/buy.js"></script>
</body>
</html>