<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Cars</title>
    <link rel="stylesheet" href="../style/welcome.css">
</head>
<body>
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="../View/buy.html">Buy a Car</a>    
            <a href="../View/sell.html">Sell your car</a>
            <a href="../View/Profile.html">My Profile</a>
            <a href="../View/about.html">About Us</a>
    </div>

    <!-- Navbar -->
    <header class="NavBar">
        <button class="openbtn" onclick="openNav()">☰ </button>
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-btn">Search</button>
        </div>
        <div class="nav-icons">
            <!-- <a href="../View/UserProfile.html" class="icon-link"><img src="../media/images-removebg-preview (1).png" alt="Profile" class="nav-icon"></a> -->
            <ul>
            <li>
            <a href="../View/Profile.html" class="icon-link"><img src="../media/images-removebg-preview (1).png" alt="Profile" class="nav-icon"></a>
            <ul>
            <li><a href="../View/login.html">Disconnect</a></li>
            </ul>
            </li>
            </ul>
            <a href="../View/buy.html" class="icon-link"><img src="../media/images-removebg-preview (2).png" alt="basket" class="nav-icon" ></a>
            <a href="../View/CreeAcc.html"><button class="create-account-btn" >Create Account</button></a>
        </div>
    </header>

    <body>
        <div class="profile-container">
        <img src="../media/profile.png" alt="Profile Picture" class="profile-pic">
        <h2 id="username">habibi Ur name here</h2>
        <p>Email: <span id="email">habibi@example.com</span></p>
        <button onclick="editProfile()">Edit Profile</button>
    </div>
    </body>

    <script src="../script/buy.js"></script>
</body>
</html>
