<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/welcome.css">
</head>
    <!-------------------- Body ---------------------->
<body>
    <!-------------------- NavBar ---------------------->
    <section class="NavBar">
            <!-- <img src="../media/Lamborghini-Revuelto-Featured-Gear.webp" alt="" width="50px" height="50px">
            <input type="text"> -->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-btn">Search</button>
            <a href="#" class="icon-link"><img src="../media/profile-icon.png" alt="Profile" class="nav-icon"></a>
            <a href="#" class="icon-link"><img src="../media/cart-icon.png" alt="Panier" class="nav-icon"></a>
        </div>
    </section>
    <script src="../script/WelcomePage.js"></script>
</body>
</html>